#header-row {
  position: absolute;
  top: 0px;
  height: 35px;
  font-size: 35px;
  color: rgb(255, 0, 242);
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}
